@import url("https://fonts.googleapis.com/css2?family=Poppings:wght@400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Work Sans';
}

body {
  font-family: 'Work Sans';
  background-color: #121212;
  color: #ffffff;
}

.header {
  position: fixed;
  width: 95%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1c;
  margin-left: 5%;
  padding: 10px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 5%;
  background-color: #1C1C1C;
  position: fixed;
  height: 100%;
}

.sidebar a img{
  height: 6vh;
  width: 3vw;
}


.menu-icon{
  margin: 6px 2px 0px 1px;
}

.offcanvas{
  --bs-offcanvas-bg: #1c1c1c;
  color: #fff;
  --bs-offcanvas-width: 200px;
  --bs-offcanvas-transition: transform 0;
}
.offcanvas-body{
  --bs-offcanvas-padding-x: 0,9rem;
  --bs-offcanvas-padding-y: 1,1rem;
}

.offcanvas a{
  font-size: 20px;
  max-width: 170px; 
}

.offcanvas a img{
  height: 6vh;
  width: 3vw;
}

.btn-close{
  opacity: 1 !important;
}

.center {
  max-width: 1500px;
  margin: 0 auto;
}

.carrossel {
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel {
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 190px;
  margin-bottom: 50px;
  gap: 0px;
}

.carousel a img {
  min-width: 200px;
  max-width: 200px;
  height: 260px;
  background-size: cover;
  background-color: rgb(226, 89, 89);
  margin: 10px 5px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carousel a img:hover {
  transform: scale(1.1);
  z-index: 5;
}

.carrossel .switchLeft,
.carrossel .switchRight {
  color: white;
  font-weight: bold;
  height: 100%;
  width: 45px;
  line-height: 200px;
  font-size: 40px;
  text-align: center;
  top: 0;
  z-index: 3;
  background-color: #57575787;
  cursor: pointer;
}

.carrossel .switchLeft {
  position: absolute;
  left: 0;
}

.carrossel .switchRight {
  position: absolute;
  right: 0;
}

.carrosselBox {
  height: 250px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.carrosselBox img {
  min-width: 147px;
  max-width: 147px;
  height: 210px;
  background-size: cover;
  background-color: rgb(226, 89, 89);
  margin: 5px 5px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carrosselBox img:hover {
  transform: scale(1.1);
  z-index: 5;
}

.carrosselBox2 {
  height: 250px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.carrosselBox2 img {
  min-width: 147px;
  max-width: 147px;
  height: 210px;
  background-size: cover;
  background-color: rgb(226, 89, 89);
  margin: 5px 5px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carrosselBox2 img:hover {
  transform: scale(1.1);
  z-index: 5;
}

.carrosselBox3 {
  height: 250px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.carrosselBox3 img {
  min-width: 147px;
  max-width: 147px;
  height: 210px;
  background-size: cover;
  background-color: rgb(226, 89, 89);
  margin: 5px 5px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 2;
}

.carrosselBox3 img:hover {
  transform: scale(1.1);
  z-index: 5;
}

form {
    border: 1px solid;
    background-color: #ffffff;
    display: flex;
}

form button{
    padding: 5px 10px;
    background-color: rgb(167, 4, 4);
    color: #ffffff;
    border: none;
}

form button:hover{
    background-color: lightcoral;
    cursor: pointer;
}

nav{
  background-color: #121212;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #0F0F0F;
  width: 55px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

main {
    padding-inline: 10dvw;
}

.logo2{
    text-align: left;
    transition: all 0.5s ease;
}

.logo2 img{
    width: 25px;
    border-radius: 50%;
}

.logo2 img:hover{
    background-color: darkgray;
    border-radius: 0px;
}
.logo2 span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: #ffffff;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: left;
}

.nav-item{
    position: relative;
    margin-left: 10px;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}



.logo {
  max-width: 200px;
  max-height: 100px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-bar {
  margin-inline: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  justify-content: center;
}

.profile-btn {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.highlight {
  padding: 20px;
  text-align: center;
}

.highlight-text {
  margin-top: 70px;
  margin-bottom: 20px;
}

.carousel img {
  width: 200px;
  border-radius: 10px;
}

.category {
  padding: 20px;
}

.category h2 {
  margin-bottom: 10px;
}

.grid {
  display: flex;
  gap: 10px;
}

.grid img {
  width: 150px;
  border-radius: 10px;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 5px auto;
  display: flex; 
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  overflow: hidden; 
  background-color: #1c1c1c;
}


.search-box input {
  flex: 1; 
  padding: 10px 15px 10px 40px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #1c1c1c;
  color: #ccc;
}


.search-box button {
  background-color: #ff0000; 
  color: #f5f5f5;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 0 25px 25px 0; 
}

.search-box button:hover {
  background-color: #c00000;
}

/* Ícone da lupa */
.search-box .icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none; 
  color: #ccc;
}

.search-box .icon svg {
  width: 20px;
  height: 20px;
}

/* Estilo do Footer */
.footer {
  background-color: #1c1c1c;
  color: #ccc;
  padding: 20px 10px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

.profile-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile-icon {
  display: absolute;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-right: 5px; 
  margin-left: -15px; 
}

.profile-points {
  font-size: 18px;
  background: linear-gradient(90deg, #ff0000, #ffaa00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.a1{
  position: relative;
  color: #ffffff;
  width: 168px;
}
