<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Login</title>
  <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
  <link rel="stylesheet" href="/home/estudante1/Documentos/stats-movie/style/login.css">
</head>
<body>
  <div class="container">
    <div class="logo">
        <h1>Entrar em: <br>
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie.png" alt="Logo" />
        </h1>
        
      
    </div>
    <div class="login-box">
      <form>
        <div class="input-group">
          <label for="username">Nome de usuário ou email</label>
          <input type="text" id="username" placeholder="Nome de usuário ou email" required>
        </div>
        <div class="input-group">
          <label for="password">Senha</label>
          <div class="password-wrapper">
            <input type="password" id="password" placeholder="Senha" required>
            </div>
          <p><a href="#" class="forgot-password">Esqueci minha senha?</a></p>
        </div>
        <div class="remember">
          <input type="checkbox" id="remember">
          <label for="remember">Lembrar deste dispositivo</label>
        </div>
        <button type="submit" class="btn">Entrar</button>
        <p class="signup">Não tem uma conta? <a href="file:///home/estudante1/Documentos/stats-movie/templates/cadastro.html?#">Cadastrar-se</a></p>
      </form>
    </div>
    <footer>
      <a href="#">Termos</a> • <a href="#">Privacidade</a> • <a href="#">Ajuda</a>
    </footer>
  </div>
</body>
</html>