{% extends "base.html" %}
{% block title %} Erro 404 - Página Não Encontrada {% endblock %}
{% block css %}
    <link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>
    <link rel="shortcut icon" href="{{url_for('static', filename='/images/iconpop.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">
{% endblock %}
{% block content %}
        <div class="container">
            <h1>Erro 404</h1>
            <p>URL Não Encontrado.</p>
        </div>
{% endblock %}
