<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Inicial</title>
  <link rel="stylesheet"  href="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/styles/homepage.css">
</head>
<body>
  <header class="header">
    <div class="logo">stats.movie</div>
    <form class="search-box" action="" >
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17a6 6 0 100-12 6 6 0 000 12zm4-1l4 4" />
        </svg>
      </span>
      <input type="text" name="pesquisa" placeholder="Pesquise aqui..." class="search-bar">
      <button type="submit">Buscar</button>
    </form>
    <a href="#" class="profile-button a1">
      <div class="profile-icon"></div>
      <span class="profile-points">100.000 pts.</span>
    </a>
  </header>

  <nav>
    <ul>
      <br /><br /><br /><br />
      <li>
        <a href="#" class="logo2">
        <i class="fas fa-home">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/home.svg" alt="">
            <span class="nav-item">Home</span>
        </i></a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-event">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/evento.svg" alt="">
            <span class="nav-item">Evento</span>
          </i></a><br><br>
      </li>
      <li style="border-top: 1px solid white">
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-user">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/historico.svg" alt="">
            <span class="nav-item">Filmes Assistidos</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-user">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/lista.svg" alt="">
            <span class="nav-item">Minha Lista</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-user">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/recom.svg" alt="">
            <span class="nav-item">Recomendados</span>
          </i>
        </a><br> <br>
      </li>
      <li style="border-top: 1px solid white">
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-gen">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/linha.svg" alt="">
            <span class="nav-item">Ação</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-gen">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/linha.svg" alt="">
            <span class="nav-item">Animação</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-gen">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/linha.svg" alt="">
            <span class="nav-item">Comédia</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-gen">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/linha.svg" alt="">
            <span class="nav-item">Terror</span><br><br>
          </i>
        </a>
      </li>
      <li style="border-top: 1px solid white">
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-config">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/config.svg" alt="">
            <span class="nav-item">Configurações</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-help">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/ajuda.svg" alt="">
            <span class="nav-item">Ajuda</span>
          </i>
        </a>
      </li>
      <li>
        <a href="#" class="logo2">
          <i class="fas fa-feed">
            <img src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/images/feedback.svg" alt="">
            <span class="nav-item">Feedback</span>
          </i>
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <section class="highlight">
      <div class="highlight-text">
        <h1>Hoje é o Dia Internacional da Animação!</h1>
        <p>Uma data especial para comemorar a arte da animação em todas as suas formas.</p>
        <p class="promo">Todas as animações assistidas hoje estão valendo o dobro de pontos!</p>
        <p>Então, escolha seu favorito, dê o play e aproveite essa celebração!</p>
      </div>
      <div class="carousel">
        <img src="https://m.media-amazon.com/images/M/MV5BZTA3OWVjOWItNjE1NS00NzZiLWE1MjgtZDZhMWI1ZTlkNzYwXkEyXkFqcGc@._V1_SX300.jpg" alt="Toy Story" class="a1">
        <img src="https://m.media-amazon.com/images/M/MV5BMTc0NzU2OTYyN15BMl5BanBnXkFtZTgwMTkwOTg2MTI@._V1_SX300.jpg" alt="Cars 3" class="a2">
        <img src="https://m.media-amazon.com/images/M/MV5BYWY3MDE2Y2UtOTE3Zi00MGUzLTg2MTItZjE1ZWVkMGVlODRmXkEyXkFqcGc@._V1_SX300.jpg" alt="Inside Out 2" class="a3">
      </div>
    </section>

    <section class="category">
      <h2>Filmes Assistidos</h2>
      <div class="center">
        <div class="carrossel">
          <div class="carrosselBox">
            <!-- aqui fica o conteudo dinamico -->
          </div>
          <a
            class="switchLeft sliderButton btnstyle"
            onclick="sliderScrollLeft()"
          >
            <
          </a>
          <a
            class="switchRight sliderButton btnstyle"
            onclick="sliderScrollRight()"
          >
            >
          </a>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
      <script src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/js/script.js"></script>
    </section>

    <section class="category">
      <h2>Minha Lista</h2>
      <div class="center">
        <div class="carrossel">
          <div class="carrosselBox2">
            <!-- aqui fica o conteudo dinamico -->
          </div>
          <a
            class="switchLeft sliderButton btnstyle"
            onclick="sliderScrollLeft2()"
          >
            <
          </a>
          <a
            class="switchRight sliderButton btnstyle"
            onclick="sliderScrollRight2()"
          >
            >
          </a>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
      <script src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/js/script2.js"></script>
    </section>

    <section class="category">
      <h2>Recomendados</h2>
      <div class="center">
        <div class="carrossel">
          <div class="carrosselBox3">
            <!-- aqui fica o conteudo dinamico -->
          </div>
          <a
            class="switchLeft sliderButton btnstyle"
            onclick="sliderScrollLeft3()"
          >
            <
          </a>
          <a
            class="switchRight sliderButton btnstyle"
            onclick="sliderScrollRight3()"
          >
            >
          </a>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
      <script src="/home/estudante1/Documentos/stats-movie/stats-movie/stats-movie/static/js/script3.js"></script>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-bottom">
      <p>&copy; 2024 stats.movie. Todos os direitos reservados.</p>
    </div>
  </footer>


  <script>
    const apikey = '57e04f8a';
    const frmPesquisa = document.querySelector("form");

    frmPesquisa.onsubmit = function(ev) {
        ev.preventDefault();
        alert("OK");

        const pesquisa = ev.target.pesquisa.value;

        if (pesquisa == ""){
            alert('Preencha o campo!');
            return;
        }

        fetch(`https://www.omdbapi.com/?apikey=${apikey}&t=${pesquisa}`)
            .then(result => result.json())
            .then(json => carregaLista(json));
    }

    const carregaLista = (json) => {
        const lista = document.querySelector("div.lista");
        lista.innerHTML = "";

        json.Search.array.forEach(element => {
            console.log(element);

            let item = document.createElement("div");
            item.classList.add("item");

            item.innerHTML = `<img src="${element.Poster}" /><h2>${element.Title}<h2/>`;

            lista.appendChild(item);
        });
    }
  </script>
</body>
</html>
<link href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet'>